/**
*
* File upload component styles
* @author - Faizal
* @date   - 19 September 2024
*
***/
.primary-btn {
    background-color: #2980b9;
    border: 1px solid #2980b9;
    font-size: 12px;
    color: #fff;
    padding: 5px 16px;
    font-weight: 600;
    border-radius: 4px;
}
.primary-btn:hover {
    background-color: #3498db;
    border: 1px solid #3498db;
    cursor: pointer;
}
.file-upload-container {
    border: 2px dashed #ecf0f1;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    display: inline-block;
    margin: auto auto;
    text-align: center;
    margin: 10px 0 10px 0;
}
.file-upload-info {
    font-size: 11px;
    color: #7f8c8d;
    margin-top: 6px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-none {
    display: none;
}
.upload-progress {
    font-size: 11px;
    margin-top: 6px;
    color: #7f8c8d
}
.error {
    color: #e74c3c;
    font-size: 11px;
    text-align: center;
    margin-top: 4px;
}